__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
data/processed/*
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep
sentiment-model/weights/*
!sentiment-model/weights/.gitkeep
*.db
.pytest_cache/
.DS_Store
